In [16]:
import pandas as pd 

cn_meta = pd.read_csv('./data/cn_meta.csv')

spk = cn_meta[cn_meta['id'] == 'id00001']
# spk.groupby('genre')
spk[spk.time < 2]

,id,genre,session,segment,is_train,fname,time
9,id00001,entertainment,1,4,True,entertainment-01-004.flac,0.905625
11,id00001,entertainment,1,6,True,entertainment-01-006.flac,1.718312
12,id00001,entertainment,1,7,True,entertainment-01-007.flac,1.834437
15,id00001,entertainment,1,10,True,entertainment-01-010.flac,0.835938
16,id00001,entertainment,1,11,True,entertainment-01-011.flac,1.323562
...,...,...,...,...,...,...,...
262,id00001,interview,5,7,True,interview-05-007.flac,1.323562
272,id00001,interview,5,17,True,interview-05-017.flac,1.323562
289,id00001,interview,5,34,True,interview-05-034.flac,1.718312
291,id00001,interview,5,36,True,interview-05-036.flac,0.905625
292,id00001,interview,5,37,True,interview-05-037.flac,1.509313

usage: ipykernel_launcher.py [-h] [--convert] [--concat] [--vad]
                             [--build_train]
ipykernel_launcher.py: error: unrecognized arguments: --ip=127.0.0.1 --stdin=9003 --control=9001 --hb=9000 --Session.signature_scheme="hmac-sha256" --Session.key=b"3d6d5556-4466-4040-b7d0-3df3b3bda359" --shell=9002 --transport="tcp" --iopub=9004 --f=c:\Users\LotsA\AppData\Roaming\jupyter\runtime\kernel-v2-19464jgIFNp7MhcEH.json

SystemExit: 2

c:\Users\LotsA\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3465: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)